<header>
    <app-basic-heading heading="About Me" subheading=""></app-basic-heading>
</header>
<main>
    <section class="about-section">
        <app-about-section-left-aboutpage heading="Education" image="assets/laptoptwo.jpg"
            imageAlt="A photo of Christie" imageSubtitle="Working on Digital Tech Project" class="about-image" link=""
            paragraph="
        I'm a deeply motivated student and love to learn. 
        Since beginning my journey at Glendowie College in early 2024, I have, through diligence and merit, been able to earn high results across the curriculum. My dedication to my studies culminated in a standout 2025, where I was honored as the Year 10 Top Scholar and recognized as the Most Promising Junior Scientist, alongside earning &quot;First in Class&quot; distinctions in subjects ranging from English to Digital Technologies.">
        </app-about-section-left-aboutpage>

        <app-about-section-right heading="Service In School" image="assets/sust_club.jpg
    " imageAlt="In a Sustainability Club meeting" class="about-image" link=""
            imageSubtitle="In a Sustainability Club meeting"
            paragraph="Driven by a desire to give back, I have given my time to a diverse range of service initiatives.
At Glendowie College , I have led initiatives ranging from school-wide environmental weeks to charity fundraisers for organisations like the SPCA and the Breast Cancer Foundation as a 2026 leader for both the Sustainability and Interact Clubs; passionate about technology, I also founded the school’s Coding Club.
Through service, I've been able both make a real impact on my school community and develop various soft skills like communication, team work, resilience, and (both short- and long-term) planning.">
        </app-about-section-right>

        <app-about-section-left-aboutpage heading="KiwiHacks" image="assets/kiwihacks_lockin.jpg"
            imageAlt="Planning for KiwiHacks May 2026, our first hackathon!" class="about-image" link=""
            imageSubtitle="Planning for KiwiHacks May 2026, our first hackathon!"
            paragraph="As a core member of KiwiHacks, New Zealand's first high school hackathon, I have been deeply involved in creating opportunities for students to explore technology and innovation. In my role, I have contributed to various aspects of the event, from planning and logistics to team leadership and outreach. My work with KiwiHacks has allowed me to develop strong organizational and leadership skills while making a meaningful impact on the tech education landscape for high school students in New Zealand.">
        </app-about-section-left-aboutpage>

        <app-about-section-right heading="Hobbies" image="assets/bread.png" imageAlt="Fresh bread from my latest bake"
            imageSubtitle="Fresh bread from my latest bake" class="about-image" link=""
            paragraph="Outside of building personal coding projects, obvoiusly, I have a wide range of hobbies! I am an avid reader – my favourite books are always tricky to narrow down, but some I've been revisiting lately include Oscar Wilde's &quot;The Picture of Dorian Gray&quot;, Margaret Mitchell's &quot;Gone with the Wind&quot;, and Jane Austen's &quot;Pride and Prejudice&quot;. I love to cook and bake, and am contantly trying out new recipies. On your right, you can see the bread I baked recently!"></app-about-section-right>
    </section>
</main>
<app-footer></app-footer>