<h3>Contact Me</h3>

<form action="https://formsubmit.co/8316104087e5120982788e92fa1aa36c" method="POST">
    <div class="txt_field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required placeholder="Sarah Jones">
    </div>

    <div class="txt_field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required placeholder="hello@yourmail.com">
    </div>

    <div class="txt_field" id="message">
        <label for="message">Message</label>
        <textarea name="message" required placeholder="Your message"></textarea>
    </div>
    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_next" value="https://christie125.github.io/UXD_Portfolio/thank-you">

    <app-big-button type="submit" text="Send Message" id="submit"></app-big-button>
</form>