<section>
    <div class="project-gallery">
        <app-projects-gallery-project image="assets/me.jpg" imageAlt="A photo of the Kiwihacks website"
            heading="Kiwihacks Website"
            paragraph="I designed and developed the Kiwihacks website for the 2024 hackathon season. The website features a modern design, easy navigation, and responsive layout. It serves as a central hub for all information related to Kiwihacks, including event details, registration, and resources for participants."
            link="https://kiwihacks.org">
        </app-projects-gallery-project>
        <app-projects-gallery-project image="assets/bridge.jpg" imageAlt="A photo of my machine learning project"
            heading="Machine Learning Project -- Exam Score Predictor"
            paragraph="For my machine learning project, I developed a model to predict students' exam scores based on various features such as study hours, attendance, and sleep patterns. I used Python and libraries like scikit-learn to preprocess the data, train the model, and evaluate its performance. The project demonstrates my ability to apply machine learning techniques to real-world problems and extract insights from data."
            link="https://christie.pythonanywhere.com">
        </app-projects-gallery-project>
        <app-projects-gallery-project image="assets/strawberries.webp"
            imageAlt="A photo of the Chrome extension I developed" heading="Chrome Extension -- Turtle Timer"
            paragraph="I designed and developed this Chrome extension to help users manage their time more effectively. The extension features a simple and intuitive interface, allowing users to set timers for various tasks and receive notifications when time is up. It demonstrates my ability to create useful tools that enhance user productivity."
            link="https://chromewebstore.google.com/detail/gedmekogiaicakfdajjnihfddfkhlfdj">
        </app-projects-gallery-project>
    </div>
    <a href="/projects">
        <app-big-button id="more-projects" text="See more projects"></app-big-button>
    </a>
</section>