<section>
    <div class="project-gallery">

        <app-projects-gallery-project image="assets/kiwihacks.png" imageAlt="A photo of the Kiwihacks website"
            heading="Kiwihacks Website"
            paragraph="Using React and Figma, I collaboratively designed and developed the Kiwihacks website for the 2024 hackathon season. The website features a modern design, easy navigation, and responsive layout. It serves as a central hub for all information related to Kiwihacks, including event details, registration, and resources for participants."
            link="https://kiwihacks.org">
        </app-projects-gallery-project>

        <app-projects-gallery-project image="assets/ml_project.png" imageAlt="A photo of the machine learning project"
            heading="Machine Learning Project – Exam Score Predictor"
            paragraph="For this machine learning project, I developed a model to predict students' exam scores based on various features such as study hours, attendance, and sleep patterns. I used Python and libraries like scikit-learn to preprocess the data, train the model, and evaluate its performance."
            link="https://christie.pythonanywhere.com">
        </app-projects-gallery-project>

        <app-projects-gallery-project image="assets/turtle_timer.png"
            imageAlt="A photo of the Turtle Timer Chrome extension" heading="Chrome Extension – Turtle Timer"
            paragraph="Using Javascript, I designed and developed this Chrome extension to help users manage their time more effectively in a fun way. The extension features an under-the-sea theme and a simple and intuitive interface that allows users to set timers for various tasks."
            link="https://chromewebstore.google.com/detail/gedmekogiaicakfdajjnihfddfkhlfdj">
        </app-projects-gallery-project>

        <app-projects-gallery-project image="assets/grove.png" imageAlt="A screenshot of the Grove website"
            heading="Grove Habit Tracker"
            paragraph="Using NodeJS, Express JS, and Figma, I designed and developed the Grove Habit Tracker web app to help users build and maintain positive habits. Featuring points and a leaderboard, it offers a clean and intuitive interface, allowing users to set daily goals, track their progress, and stay motivated."
            link="https://github.com/Christie125/Grove-Athena-Project-1">
        </app-projects-gallery-project>

        <app-projects-gallery-project image="assets/old_portfolio.png"
            imageAlt="A photo of my previous portfolio website" heading="Previous Portfolio Website"
            paragraph="Using Angular, I built this previous portfolio website to showcase my work and skills as a web developer. It featured a clean design and responsive layout, highlighting my projects and experience."
            link="https://christie125.github.io/portfolio/#/">
        </app-projects-gallery-project>

        <app-projects-gallery-project image="assets/os_app.png"
            imageAlt="A photo of the OS Information Website I developed" heading="OS Information Website"
            paragraph="Using Python and Flask, I designed and developed this website to provide users with comprehensive information about their device. The site features a clean and minimalistic interface, making it easy for users to find the information they need."
            link="https://github.com/Christie125/Shows-OS-Information">
        </app-projects-gallery-project>
    </div>
</section>