app-basic-heading {
    display: block;
    --basic-heading-background: var(--quater-transparent-dark_lavender);

}

@media (max-width: 480px) {
    app-basic-heading {
        margin-bottom: 0.25rem;
    }
}