<app-basic-heading heading="Christie" subheading="Hi, I'm"></app-basic-heading>
<section class="about-section">
    <app-about-section-left heading="About Me"
        paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        image="assets/me.jpg" imageAlt="A photo of Christie" class="about-image" link="/about"></app-about-section-left>
</section>
<app-home-project-gallery></app-home-project-gallery>
<section class="contact">
    <app-contact-form></app-contact-form>
</section>
<app-footer></app-footer>