* {
    overflow-x: hidden;
}

section {
    background-color: var(--lavender);
    padding: 3%;
}

.contact {
    background-color: var(--beige);
}

app-home-page-heading {
    display: block;
    --homepage-heading-background: var(--half-transparent-dark_lavender);
}

.about-section {
    background-color: var(--half-transparent-lavender);
}

@media (max-width: 768px) {
    section {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 480px) {
    section {
        padding: 1rem 0.5rem;
    }
}