<app-home-page-heading></app-home-page-heading>
<section class="about-section">
    <app-about-section-left-homepage heading="About Me"
        paragraph="I’m a student and developer passionate about building practical, user-focused web applications. I work mainly with Javascript and Python, and enjoy turning ideas into real, usable products.
Outside of coding, I'm passionate about making a difference in my community. 
I lead several community-oriented clubs at school – like the Coding and Interact Club. 
I’m also one of the leaders of KiwiHacks, where I help create opportunities for students to explore tech and innovation through hackathon organisation.

I’m currently focused on growing my skills, building meaningful projects, and making a positive impact through service." image="/assets/laptoptwo.jpg" imageAlt=""
        class="about-image" imageSubtitle="" link="/about"></app-about-section-left-homepage>
</section>
<app-home-project-gallery></app-home-project-gallery>
<section class="contact">
    <app-contact-form></app-contact-form>
</section>
<app-footer></app-footer>