/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

:root {
    --beige: #c9cad9;
    --lavender: #d1d2f9;
    --dark_lavender: #a3bcf9;
    --purple: #7795cb;
    --dark_purple: #576490;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
    box-sizing: border-box;
}