section {
    background-color: var(--half-transparent-lavender);
    padding: 3%;
}

app-basic-heading {
    display: block;
    --basic-heading-background: var(--lavender);
}

@media (max-width: 768px) {
    section {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 480px) {
    section {
        padding: 1rem 0.5rem;
    }
}